@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html{
    font-size: 62.5%;
    font-weight: 300;
    color: var(--cor-branco);
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-normal);
    background: url(../imagens/bg-dark-desktop.jpg) no-repeat;
    background-size: cover;
}

.container{
    max-width: 1140px;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.justify-content-space-between{
    justify-content: space-between;
}

.alinhar-itens-ao-centro{
    align-items: center;
}

.redes-sociais a {
    display: inline-block;
    margin: 0 4px;
    width: 40px;
    height: 42px;
    font-size: 2.5rem;
    text-align: center;
    color: var(--cor-branca);
    border: 2px solid var(--cor-branco);
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }

  .redes-sociais a:hover {
    transform: scale(1.1);
    border-color: var(--cor-pink);
    color: var(--cor-pink);

  }
  
  .redes-sociais a i{
    line-height: 40px;
  }

  .redes-sociais a:last-child{
    font-size: 2.7rem;
  }
 
  
  .section{
    padding: 7rem 0 7rem;
  }
  
  .section-title {
    text-align: center;
    max-width: 100%;
    padding: 60px 0;
  }
  
  .section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--cor-primaria);
  }
  
  .botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
  }