.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;    
}

.habilidades .container-habilidades .informacoes p, .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.habilidades .container-habilidades .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo #javascript{
    color: #F0DB4F;
    
}

.habilidades .container-habilidades .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo #html{
    color: #E54D26;
}

.habilidades .container-habilidades .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo #css{
    color: #3D8FC6;
}

.habilidades .container-habilidades .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo #react{
    color: #00D8FF;
}

.habilidades .container-habilidades .habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo #git{
    color: #F34F29;
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-branco);      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-branco);
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}