header{
    padding: 30px 15px;
}

.header .logo{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-extra-grande);
    border: 3px solid var(--cor-branco);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 58px;
    text-align: center;
    text-decoration: underline;
    transition: 0.8s ease;
}

.header .logo:hover{
    color: var(--cor-pink);
    border: 3px solid var(--cor-pink);
    border-radius: 0;
    transition: ease-in-out 0.5s;
}

.header  nav ul{
    display: flex;
}

.header nav ul li a{
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out;
}

.header nav ul li a:hover{
    background-color: var(--cor-pink);
}

.header .menu{
    display: none;
    width: 50px;
    height: 50px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
    cursor: pointer;  
}

.header .hamburguer{
    background-color: var(--cor-branco);
    display: block;
    width: 30px;
    height: 1.5px;
    top: 29px;
    left: 15px;
    position: relative;
    transition: 0.7s ease;

}

.header .hamburguer::before, .header .hamburguer::after{
    background-color: var(--cor-branco);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative; /* mudar para relative */
    transition: 0.7s ease;
}

.header .hamburguer::before{
    top: -10px;
}

.header .hamburguer::after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~label .hamburguer{
    transform: rotate(45deg);
}

.header input:checked ~label .hamburguer::before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~label .hamburguer::after{
    transform: rotate(90deg);
    bottom: 0;
    opacity: 0;
}

@media (max-width: 1280px){
    .header{
        padding: 30px;

    }
}

@media (max-width: 900px) {

    .header nav{
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul{
        display: none;
        background-color: #0000004f;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
    }

    .header nav a{
        text-align: center;
        margin: 15px 0;
        display: block;
    }
    
    .header .menu{
        display: block;
    }

    .header nav input:checked ~ul{
        display: block;
    }

}